body {
    background-color: #f4f4f4;
}

header {
    background: #0074D9;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    width: 80%;
    max-width: 800px;
    margin: 30px auto;
}

#controls {
    margin-bottom: 20px;
}

#controls button:hover {
    background-color: #005fa3;
}

#result {
    margin-top: 20px;
}

table {
    width: 100%;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #0074D9;
    color: white;
}
